h1, h2, p, ul, li, ol, a, footer, div, button {
   font-family: Arial, Helvetica, sans-serif; 
}

header {
    grid-area: header
}
footer {
    grid-area: footer
}


h1, h2 {
    margin-left: 3vh;
    width: auto;
}

.footeralignment {
    margin-left: 3vh;
    width: 100%;
}

.videoplayer {
    grid-area: videoplayer;
    margin: 3vh;
    display: flex;
    place-items: center;
}

video {
    border-radius: 5px;
    max-width: 800px;
    max-height: auto;
}

.description, hr {
    margin-left: 3vh;
    max-width: 800px;
    width: 100%;   

    padding: 0 20px;  
    box-sizing: border-box;
}

.comment {
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
}

.grid-item1 {
    grid-area: header;
    background-color: azure;
    min-height: 12vh;
}
.grid-item8 {
    grid-area: footer;
    background-color: azure;
    min-height: 12vh;
}

#videosvg {
    margin-top: -10px;
    background-color: azure;
    background-size: 20px;
}

.avatar {
    width: 4%;
    height: 4%;
    margin-left: 5px;
}

.grid-item2, .grid-item3, .grid-item4, .grid-item5, .grid-item6, .grid-item7 {
    margin: 3vh;
    display: flex; 
        flex-direction: column;
    box-sizing: border-box;
    border-style: solid;
    border-color: black;
    border-width: 1px;    
    border-radius: 5px;
    background-color: azure;

}

.grid-item2:hover, .grid-item3:hover, .grid-item4:hover, .grid-item5:hover,.grid-item6:hover, 
.grid-item7:hover, .bentobox2:hover, video:hover {
    outline: 4px solid darkorange;
    border-radius: 5px;
    transition: 0.3s;
}

*:focus-visible, *:focus {
    outline: 4px solid darkorange;
    border-radius: 5px;
    transition: 0.3s;
}


.bentobox {
    display: flex;
        flex-direction: row;
        align-items: center;
        /*flex-wrap: wrap;*/
        gap: 25px;
        margin-left: 25px;
    background-color: azure;
}

.bentobox2 {
    grid-area: bentobox2;
    display: flex;
        flex-direction: row;
        align-items: center;
        /*flex-wrap: wrap;*/
        gap: 25px;
        margin-left: 25px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 2vh;
    margin-left: 3vh;
    background-color: azure;

    max-width: 800px;
    width: 100%;  

    padding: 0 20px;  
    box-sizing: border-box;
}

.filling {
    display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        flex: 1;
}

a {
    text-decoration: none;
}

h3 {
    margin-bottom: -8px;  
}

p, h3 {
    margin-right: 25px;
}

/* Extra small devices (phones, 600px and down) */
body {
    /*background-color: red;*/
    font-size: 50%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "vid"       
        "vid" 
        "vid" 
        "vid" 
        "vid" 
        "vid" 
        "footer";
    background-color: white;
}

.grid-container2 {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
        "header"
        "videoplayer"       
        "bentobox2" 
        "footer";
    background-color: white;
}

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 700px) {
    body {
        /*background-color: yellow;*/
        font-size: 125%;
    }
    
    .grid-container {
    display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
            "header header"
            "vid vid"
            "vid vid"    
            "vid vid"          
            "footer footer";
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "videoplayer"       
        "bentobox2" 
        "footer";
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 1000px) {
    body {
        /*background-color: green;*/
        font-size: 90%;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "header header header"
            "vid vid vid"
            "vid vid vid"
            "footer footer footer";
    }

    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "videoplayer"       
            "bentobox2" 
            "footer";
    }
}

